# Replacing Excel with Jupyter Notebooks

Anything you don't understand is scary and for many people that's doubly true for code. Moving from Excel to Python has a huge number of benefits, your work becomes:

- repeatable: Code can be easily re-run and you can re-use the same pieces of work in a different situation
- understandable: If you perform a piece of analysis in code, the code will show you what has been done. While not perfect, this is still better than Excel, where all you see is the end product.
- scaleable: Excel struggles with large amounts of data. Python doesn't. Eventually you'll hit a limit but it's far further off.
- more powerful: Things that are trivial in Python can be exceptionally hard in Excel (for example using text fields in the value part of a pivot chart)
- Harder to screw up your data: If you fuck up your data in Excel, it's entirely possible you just edited your source and you have to start all over again. In Jupyter notebooks all you have to do is run a couple of cells.

But unlike Excel, it doesn't have lots of nice shiny buttons. The goal of this workbook is to show you how to do all the common actions you take in Excel in python as well as how to work with data. 

We'll be relying heavily on pandas, which provides lots of useful functions for data analysis.

## How does Jupyter notebook work?

Jupyter notebook (IMO) is the ideal environment for data analysis. It works as follows.
- You type code into cells. 
- You run the cells.

By breaking the code into cells it allows you to work in steps and investigate the data as you are going.

Jupyter notebook has two modes:
- Command mode (let's you create new cells, delete them, run them etc.)
- Edit mode (let's you type into and edit the cells)

Escape takes you to command mode (the highlighted cell will have a blue bar on the left),  Enter takes you to edit mode (the highlighted cell will have a green bar on the left).

While there are buttons at the top, I'd highly recommend learning the shortcuts. Aside from those two the most important are:

**Command Mode:**
- a: create a cell above
- b: create a cell below
- Cmd/Ctrl+Enter - Runs a cell
- dd: deletes a cell (be careful, you can't undo this)
- m: Set a cell to text mode (markdown), like this cell you're reading
- y: Set a cell to code mode (the default)

**Edit mode:**
- shift+tab: show documentation for the function the cursor is inside. Hit tab multiple times to change where the documentation pop-up appears. (sometimes won't trigger in which case just google "pandas documentation x")

## Notes on working through this
I've now watched a couple people try to work through this workbook, first most immediate note is:
- After each command, inspect the result using the head() command we're going to show off below. People are used to seeing the data as they work, and inspecting it at every stage will help show you what the functions are doing.

**What does this do?:** In order to use libraries we need to import them. We're only going to import:
- pandas - functions for data analysis
- numpy - more functions for data analysis (in my experience, typically faster, but not quite as user friendly as pandas)
- display from IPython.display - This allows us to print things out with nice formatting.
- re - regular expressions. pandas already has this built in, in a lot of places so we won't often need this.

There are a huge number we haven't even touched here!

Let's get started!

In [1]:
import pandas as pd
import numpy as np
import re
from IPython.display import display

**What does this do?:** For our example here, we're going to load in a top 20 ranking file from STAT.

This shows the top 20 rankings domains for a set of keywords and is exactly the data we might want to do some analysis on .

The following function allows us to open a CSV file into a dataframe. That's a fancy word for a table in pandas.

The output of the function on the right is saved into the variable on the left.

In [6]:
df = pd.read_csv("Example Car SERPs.csv")

## Exploring data

First things first, how do we look the data we've just loaded? It's obvious in Excel, how do I do it with pandas and python?

We need to be able to see our data, because that's often how we're going to validate that our code has done what we expected. Plus if you've come from Excel you'll be used to looking at the data as you go.

Using head we can get our first look at the data in pandas. It looks like a table and how we'd expect. Hooray! We can also see that pandas assigns each row a unique number in the first column. This is called the index and when we begin to filter our data, we'll see that shown in the index.

**What does this do?:** This prints out the first x rows of a dataframe

In [7]:
df.head(1)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...

**What does this do?:** Gives you the size of the dataframe in rows by columns.

In [8]:
df.shape

(39600, 13)

**What does this do?:** Shows you the datatype for each column. (i.e. this column is a string (i.e. text), this column is a number etc.) What is object? For our purposes it's the same as string.

Datatype is really important. If you have a column of numbers, but someone has accidentally left a word in one row, the whole column will be treated as strings so you won't be able to perform maths operations on them.

In [33]:
df.dtypes

Keyword           object
Market            object
Location          object
Device            object
Search Volume    float64
Rank               int64
Result Types      object
Protocol          object
Ranking URL       object
Tags              object
dtype: object

**What does this do?:** This allows you to select a column. 

We've also combined it with our previous command so it doesn't print out the entire column.

In [16]:
df['Market'].head(1)

0    GB-en
Name: Market, dtype: object

**What does this do?:** This shows you all the different values in a column, along with a count of how many there are of each.

In [19]:
df['Market'].value_counts()

GB-en    39540
DE-de       60
Name: Market, dtype: int64

# Saving results vs printing results out

Each line of code we've had so far has printed something out or saved the result of our calculation into a variable.

If we have a single line of code which doesn't save anything, Jupyter will print out whatever is returned by that line of code.

In [22]:
df['Market'].head(1)

0    GB-en
Name: Market, dtype: object

If we've saved the results of code into a variable then it won't print anything out.

In [23]:
saved = df['Market'].head(1)

We can view the contents of the variable however, by putting the variable by itself into a cell and running that cell.

In [24]:
saved

0    GB-en
Name: Market, dtype: object

However if you try to print out multiple things at once, by just listing them one by one, then only the past one will be printed.

In [61]:
df['Market'].head(1)
df['Market'].head(2)
df['Market'].head(3)
"Only I will print."

'Only I will print.'

If you do want to print out multiple rows we need to tell pandas. Here its good practice to use display, because often it will make the formatting nicer.

In [9]:
display(df['Market'].head(1))
display(df['Market'].head(2))

0    GB-en
Name: Market, dtype: object

0    GB-en
1    GB-en
Name: Market, dtype: object

# Filtering data

Great so we know how to print out data and how to examine the data we've loaded. What other common tasks might we find outselves doing?

We'll start with filtering. A common use case is wanting to filter data based on the values in columns.

**What does this do?:** Filter a dataframe based on a string column. In this case we're filtering based on whether or not a regex matches.

We can see the index number on the left changing, because the first row where Keyword contains bmw or audi is 180.

In [12]:
df_filtered = df[(df["Keyword"].str.contains("bmw|audi", regex=True)==False)]
df_filtered.head(5)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,NaN,NaN,NaN,organic,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...

**What does this do?:** Filter a dataframe based on a numeric column. Here we return all the results for rank 1.

In [16]:
df_filtered = df[df["Rank"]==2]
df_filtered.head(5)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...
21,0 car finance deals,GB-en,NaN,desktop,4400.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...
41,0 car finance offers,GB-en,NaN,desktop,320.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...
61,0 finance car deals,GB-en,NaN,desktop,1000.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...
81,0 finance cars,GB-en,NaN,desktop,5400.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...

What does this do?:** Filter a dataframe based on a boolean (i.e. TRUE and FALSE) column. Here we return all the results which are true. We don't have a boolean column yet, so let's quickly create one (we'll go over in more detail later).

In [19]:
# Ignore me for now
df['is_rank_1'] = False

df.loc[df['Rank'] == 1, 'is_rank_1'] = True
df.head()

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,False
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,False
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...,False
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,NaN,NaN,NaN,organic,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...,False

Then we can filter for any rows where is_rank_1 is equal to True.

In [20]:
df_filtered = df[df['is_rank_1']]
df_filtered.head()

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True
20,0 car finance deals,GB-en,NaN,desktop,4400.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True
40,0 car finance offers,GB-en,NaN,desktop,320.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...,True
60,0 finance car deals,GB-en,NaN,desktop,1000.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True
80,0 finance cars,GB-en,NaN,desktop,5400.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True

If we want to invert this and get any where it doesn't match 1, we do it with `~`

In [21]:
df_filtered = df[~df['is_rank_1']]
df_filtered.head()

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,False
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,False
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...,False
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,NaN,NaN,NaN,organic,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...,False
5,0 apr car deals,GB-en,NaN,desktop,1900.0,6,NaN,NaN,NaN,organic,http,www.interestfree4cars.com/,!permanent keywords / auto express / featured ...,False

**What does this do?:** Filter a dataframe based off a list

In [30]:
list_of_values = [
    '1 series bmw',
    'ford deals'
]
df_filtered = df[df["Keyword"].isin(list_of_values)]
df_filtered.head()

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1
180,1 series bmw,GB-en,NaN,desktop,3600.0,1,organic,http,www.bmw.co.uk/en_GB/new-vehicles/1.html,organic,http,www.bmw.co.uk/en_GB/new-vehicles/1.html,temp - semrush / used-cars,True
181,1 series bmw,GB-en,NaN,desktop,3600.0,2,organic,http,www.autotrader.co.uk/used-cars/bmw/1-series,organic,https,www.autotrader.co.uk/used-cars/bmw/1-series,temp - semrush / used-cars,False
182,1 series bmw,GB-en,NaN,desktop,3600.0,3,organic,http,www.whatcar.com/bmw/1-series/hatchback/review/,organic,https,www.gumtree.com/cars/uk/bmw+1+series,temp - semrush / used-cars,False
183,1 series bmw,GB-en,NaN,desktop,3600.0,4,organic,https,en.wikipedia.org/wiki/BMW_1_Series,organic,https,www.whatcar.com/bmw/1-series/hatchback/review/,temp - semrush / used-cars,False
184,1 series bmw,GB-en,NaN,desktop,3600.0,5,organic,https,www.gumtree.com/cars/uk/bmw/bmw+1+series,organic,https,en.wikipedia.org/wiki/BMW_1_Series,temp - semrush / used-cars,False

**What does this do?:** What if we want to use multiple conditions? Again nice and easy, we just put more than one in our first set of square brackets as seen below. `&` is the symbol for and, and `|` is the symbol for or.

In [47]:
df_filtered = df[df["Market"].str.contains("GB-en")==False | 
                 df["Device"].str.contains("desktop") ]
df_filtered.head()

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,False
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,False
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...,False
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,NaN,NaN,NaN,organic,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...,False

**Aside:** If you're exploring or debugging data, then you'll often want to change filters multiple times to see what you're working with. It's easiest to do this in one cell, but having to re-write them is annoying. The following layout for filtering allows you to easily comment out the filters you're not using, so you don't have to delete and re-write them.

df["Market"].str.contains("GB-en")==False | df[
    df['Keyword'].str.contains("ford")
    & df['Device'].str.match("smartphone")
    & df['Market'].str.match("GB-en")
]
df_filtered.head()


# Creating new columns based off existing columns

Sometimes we don't want to filter our entire set, we just want to create a new column which is correctly filtered. We already saw this above but we skipped over it, so now we'll look at it in more detail. 

But before we can create new columns based off filters we need to know how to create new columns.

**What does this do?:** Creates a new column called *Industry* and sets the value to "cars".

In [48]:
df['industry'] = "Cars"
df.head()

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1,industry
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True,Cars
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,False,Cars
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,False,Cars
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...,False,Cars
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,NaN,NaN,NaN,organic,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...,False,Cars

First we'll look at creating a column which is True or False based on a condition. We can use any of the conditions we used in the previous section.

**What does this do?:** Sets the column to True and False based on the filter condition. 

Below we're creating a column which is True wherever rank is 1.

In [49]:
df['is_rank_1'] = df['Rank'] == 1
df.head()

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1,industry
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True,Cars
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,False,Cars
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,False,Cars
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...,False,Cars
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,NaN,NaN,NaN,organic,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...,False,Cars

Each condition (if you have more than 1) needs to be wrapped in brackets.

Below we're creating a column which is `True` for the all the rows where rank=1 and `False` otherwise.

In [50]:
df['auto_express_with_rank_2'] = (df['Tags'].str.contains("auto express")) & (df['Rank'] < 4)
df.head()

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1,industry,auto_express_with_rank_2
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True,Cars,True
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,False,Cars,True
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,False,Cars,True
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...,False,Cars,False
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,NaN,NaN,NaN,organic,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...,False,Cars,False

What if we wanted to create a basic search visibility metric? Below we do that by dividing rank by search volume.

**What does this do?:** Below we're creating a column based on a calculation from other columns.

In [45]:
df['basic_search_visibility'] = df['Regional Monthly Search Volume']/df['Rank']

Another common usecase, creating a column based off a regex extract. Pandas comes with a built in function for us.

**What does this do?:** This function creates a column, which is the value of the first captured group (everything inside the first set of brackets) in the regex.

In [86]:
df['car_type'] = df['Keyword'].str.extract("(bmw|audi|ford)", re.IGNORECASE, expand=False)
df.head()

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,is_rank_1,industry,auto_express_with_rank_2,car_type
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,True,Cars,True,NaN
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,False,Cars,True,NaN
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,False,Cars,True,NaN
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,NaN,NaN,NaN,organic,http,www.autoexpress.co.uk/best-cars/85381/best-new...,!permanent keywords / auto express / featured ...,False,Cars,False,NaN
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,NaN,NaN,NaN,organic,https,www.toyota.co.uk/current-offers/index.json,!permanent keywords / auto express / featured ...,False,Cars,False,NaN

In [90]:
#df.loc[200:225,'car_type']
dff=df[df['car_type']=='bmw']
dff.count()
df['car_type'].value_counts()

car_type
bmw     3660
audi    2960
ford    1800
Name: count, dtype: int64

## Bonus round - using custom functions

Pandas has a remarkable number of functions for creating extra columns and manipulating them. It's well worth trying to get comfortable with the documentation, particularly for [string handling](https://pandas.pydata.org/pandas-docs/stable/api.html#string-handling), however occasionally what you're doing is complex and these functions won't do. A good example is tagging.

I.e. I want a column where any keywords containing high end cars are tagged with "high-end" and any keywords containing low end cars are tagged "low-end".

First we need to create some tags and a tagging function.

In [82]:
tags = [
    {
        "name": "high-end",
        "regex": "bmw|audi"
    },
    {
        "name": "low-end",
        "regex": "ford"
    }
]

In [98]:
def basic_keyword_tagging(string, tags):
    ''' This function takes a string and a tag dataset that is a list of dictionaries.
    
    Each dictionary must contain a name value and a regex value. It will loop through
    the tags and as soon as one matches, return that. If none match it will return "other".
    '''
    
    for tag in tags:
        if re.match(tag['regex'], row['Keyword']):
            return tag['name']
        else:
            return "other"

**What does this do?:** The function below, applies our function to each row in the dataframe and runs the value to our new column.

In [99]:
df['what_is_car_model'] = df.apply(lambda x: basic_tagging(x['Keyword'], tags), axis=1)

NameError: name 'basic_tagging' is not defined

# Grouping data

Now we're getting into the fun stuff. Grouping. Grouping is super useful. Let's suppose we wanted to see the average rank and total keyword count per URL in our sample. That's the kind of question grouping is useful for.

**What does this do?**: This is the most flexible version of groupby. There are simpler syntaxes, but if you know this one you'll be able to do basically everything you want with it. In the example below, we're going to get average rank and total keyword count for each for the later date in our sample (1st Sep 2017).

In [48]:
df_group = df.groupby('Ranking URL on Sep  1, 2017').agg({
    'Keyword': 'count',
    'Rank': 'mean'
}).reset_index()

In [49]:
df_group

                             Ranking URL on Sep  1, 2017  Keyword       Rank
0                       111.intdmf.com/autolottnotts.com        2  15.500000
1                           111.intdmf.com/autolotts.com        2  14.500000
2      44teeth.com/contributors/loved-honda-msx-sold-...        2  17.000000
3                       4testpass.com/pass-driving-test/        3  12.666667
4                a-professional-appraisal.ca/contact-us/        2  19.500000
5                  a2bikes.co.uk/bike/kawasaki-ninja-300        1  16.000000
6         ah-ltd.co.uk/tax-rate-information/vehicle.html        1  13.000000
7                                     allcarskent.co.uk/        1  18.000000
8                   allegro.pl/kategoria/audi-rs7-146643        2  14.500000
9                     allegro.pl/kategoria/bmw-m2-255467        1  20.000000
10               allegro.pl/kategoria/lancia-delta-12562        1  20.000000
11     amp.autoweek.com/article/car-reviews/2017-chry...        1  18.000000
12     amp.autoweek.com/article/events/hurricane-harv...        1  10.000000
13        amp.businessinsider.com/best-first-cars-2012-1        1  14.000000
14     amp.businessinsider.com/best-used-cars-for-fir...        1  11.000000
15     amp.ft.com/content/7fa6cd04-8e68-11e7-a352-e46...        1  11.000000
16     amp.ft.com/content/ad691d06-5620-11e4-bbd6-001...        2  15.000000
17     amp.ft.com/content/e66c9f97-6d35-3642-88a9-bc9...        1  19.000000
18     amp.reddit.com/r/MotoUK/comments/2u3asv/honda_...        1  18.000000
19     amp.reddit.com/r/askcarsales/comments/60wjgw/h...        1  20.000000
20     amp.theguardian.com/business/2017/aug/16/uk-ca...        1  20.000000
21     amp.theguardian.com/business/2017/jul/05/uk-ca...        1  15.000000
22     amp.theguardian.com/money/2014/feb/14/getting-...        4  13.750000
23     amp.theguardian.com/money/2014/jul/26/buy-new-...        3  13.333333
24     amp.theguardian.com/money/2016/feb/03/deal-tro...        2   5.000000
25     amp.theguardian.com/money/2017/feb/25/secondha...        2  18.000000
26     amp.theguardian.com/technology/2012/aug/24/kia...        1  19.000000
27     amp.theguardian.com/technology/2012/dec/09/chr...        1  20.000000
28     amp.theguardian.com/technology/2016/dec/04/hyu...        1  20.000000
29     amp.theguardian.com/technology/2016/jul/30/cit...        1  19.000000
...                                                  ...      ...        ...
13384                www.youtube.com/watch?v=u-CUobmVO2s        1  20.000000
13385                www.youtube.com/watch?v=uLGMQ6WG9Kc        1   6.000000
13386                www.youtube.com/watch?v=uZ6Rmc_ljvg        1  10.000000
13387                www.youtube.com/watch?v=u_wOXj3IiT4        1  19.000000
13388                www.youtube.com/watch?v=v0B-0JR7suU        1  18.000000
13389                www.youtube.com/watch?v=vPu5wGV3854        1  10.000000
13390                www.youtube.com/watch?v=vWm-sncUhd8        1  15.000000
13391                www.youtube.com/watch?v=vYYQnZcQxwI        1  17.000000
13392                www.youtube.com/watch?v=vjcfE3zlOf4        1  15.000000
13393                www.youtube.com/watch?v=w--uV25yLWQ        2  12.000000
13394                www.youtube.com/watch?v=wmP6UdQX8qo        1  16.000000
13395                www.youtube.com/watch?v=x7kNKNAS2GY        1  14.000000
13396                www.youtube.com/watch?v=xgKjp1pq7iI        1  20.000000
13397                www.youtube.com/watch?v=ySvb44ucuIE        1  16.000000
13398                www.youtube.com/watch?v=zUKFG_Y2pBk        1   4.000000
13399                www.youtube.com/watch?v=zuNutWkhV8U        1   7.000000
13400  www.z-tech.co.uk/e-newz/bmw-c-evolution-a-few-...        2  14.500000
13401                www.zeroto60times.com/compare-cars/        3  12.000000
13402                             www.zestcarrental.com/        1  17.000000
13403                     www.zigwheels.com/compare-cars        2  14.000000
13404        www.zigwheels.com/newbikes/KTM/Duke-390-ABS        1  16.000000
13405  www.zigwheels.com/newbikes/KTM/Duke-390-ABS/on...        1  15.000000
13406                          www.zigwheels.com/newcars        1  12.000000
13407    www.zigwheels.com/newcars/Lamborghini/Aventador        1  13.000000
13408  www.zigwheels.com/newcars/Lamborghini/Aventado...        1  16.000000
13409      www.zigwheels.com/newcars/Lamborghini/Huracan        1  18.000000
13410                 www.zigwheels.com/newcars?is_amp=1        1  13.000000
13411                www.zipcar.co.uk/check-rates/london        1  17.000000
13412                      www.zoopla.co.uk/home-values/        2   3.500000
13413                   www.zuto.com/free-car-valuation/      105  14.866667

[13414 rows x 3 columns]

But we've just aggregated by URL there. Want if we wanted to average rank and keyword count, per URL, per country? In that case we provide more values to our initial group by.

In [50]:
df_group = df.groupby(['Ranking URL on Sep  1, 2017', 'Market']).agg({
    'Keyword': 'count',
    'Rank': 'mean'
}).reset_index()

In [51]:
df_group

,"Ranking URL on Sep 1, 2017",Market,Keyword,Rank
0,111.intdmf.com/autolottnotts.com,GB-en,2,15.500000
1,111.intdmf.com/autolotts.com,GB-en,2,14.500000
2,44teeth.com/contributors/loved-honda-msx-sold-...,GB-en,2,17.000000
3,4testpass.com/pass-driving-test/,GB-en,3,12.666667
4,a-professional-appraisal.ca/contact-us/,GB-en,2,19.500000
5,a2bikes.co.uk/bike/kawasaki-ninja-300,GB-en,1,16.000000
6,ah-ltd.co.uk/tax-rate-information/vehicle.html,GB-en,1,13.000000
7,allcarskent.co.uk/,GB-en,1,18.000000
8,allegro.pl/kategoria/audi-rs7-146643,GB-en,2,14.500000
9,allegro.pl/kategoria/bmw-m2-255467,GB-en,1,20.000000
10,allegro.pl/kategoria/lancia-delta-12562,GB-en,1,20.000000
11,amp.autoweek.com/article/car-reviews/2017-chry...,GB-en,1,18.000000
12,amp.autoweek.com/article/events/hurricane-harv...,GB-en,1,10.000000
13,amp.businessinsider.com/best-first-cars-2012-1,GB-en,1,14.000000
14,amp.businessinsider.com/best-used-cars-for-fir...,GB-en,1,11.000000
15,amp.ft.com/content/7fa6cd04-8e68-11e7-a352-e46...,GB-en,1,11.000000
16,amp.ft.com/content/ad691d06-5620-11e4-bbd6-001...,GB-en,2,15.000000
17,amp.ft.com/content/e66c9f97-6d35-3642-88a9-bc9...,GB-en,1,19.000000
18,amp.reddit.com/r/MotoUK/comments/2u3asv/honda_...,GB-en,1,18.000000
19,amp.reddit.com/r/askcarsales/comments/60wjgw/h...,GB-en,1,20.000000
20,amp.theguardian.com/business/2017/aug/16/uk-ca...,GB-en,1,20.000000
21,amp.theguardian.com/business/2017/jul/05/uk-ca...,GB-en,1,15.000000
22,amp.theguardian.com/money/2014/feb/14/getting-...,GB-en,4,13.750000
23,amp.theguardian.com/money/2014/jul/26/buy-new-...,GB-en,3,13.333333
24,amp.theguardian.com/money/2016/feb/03/deal-tro...,GB-en,2,5.000000
25,amp.theguardian.com/money/2017/feb/25/secondha...,GB-en,2,18.000000
26,amp.theguardian.com/technology/2012/aug/24/kia...,GB-en,1,19.000000
27,amp.theguardian.com/technology/2012/dec/09/chr...,GB-en,1,20.000000
28,amp.theguardian.com/technology/2016/dec/04/hyu...,GB-en,1,20.000000
29,amp.theguardian.com/technology/2016/jul/30/cit...,GB-en,1,19.000000
...,...,...,...,...
13384,www.youtube.com/watch?v=u-CUobmVO2s,GB-en,1,20.000000
13385,www.youtube.com/watch?v=uLGMQ6WG9Kc,GB-en,1,6.000000
13386,www.youtube.com/watch?v=uZ6Rmc_ljvg,GB-en,1,10.000000
13387,www.youtube.com/watch?v=u_wOXj3IiT4,GB-en,1,19.000000
13388,www.youtube.com/watch?v=v0B-0JR7suU,GB-en,1,18.000000
13389,www.youtube.com/watch?v=vPu5wGV3854,GB-en,1,10.000000
13390,www.youtube.com/watch?v=vWm-sncUhd8,GB-en,1,15.000000
13391,www.youtube.com/watch?v=vYYQnZcQxwI,GB-en,1,17.000000
13392,www.youtube.com/watch?v=vjcfE3zlOf4,GB-en,1,15.000000
13393,www.youtube.com/watch?v=w--uV25yLWQ,GB-en,2,12.000000
13394,www.youtube.com/watch?v=wmP6UdQX8qo,GB-en,1,16.000000
13395,www.youtube.com/watch?v=x7kNKNAS2GY,GB-en,1,14.000000
13396,www.youtube.com/watch?v=xgKjp1pq7iI,GB-en,1,20.000000
13397,www.youtube.com/watch?v=ySvb44ucuIE,GB-en,1,16.000000
13398,www.youtube.com/watch?v=zUKFG_Y2pBk,GB-en,1,4.000000
13399,www.youtube.com/watch?v=zuNutWkhV8U,GB-en,1,7.000000
13400,www.z-tech.co.uk/e-newz/bmw-c-evolution-a-few-...,GB-en,2,14.500000
13401,www.zeroto60times.com/compare-cars/,GB-en,3,12.000000
13402,www.zestcarrental.com/,GB-en,1,17.000000
13403,www.zigwheels.com/compare-cars,GB-en,2,14.000000
13404,www.zigwheels.com/newbikes/KTM/Duke-390-ABS,GB-en,1,16.000000
13405,www.zigwheels.com/newbikes/KTM/Duke-390-ABS/on...,GB-en,1,15.000000
13406,www.zigwheels.com/newcars,GB-en,1,12.000000
13407,www.zigwheels.com/newcars/Lamborghini/Aventador,GB-en,1,13.000000
13408,www.zigwheels.com/newcars/Lamborghini/Aventado...,GB-en,1,16.000000
13409,www.zigwheels.com/newcars/Lamborghini/Huracan,GB-en,1,18.000000
13410,www.zigwheels.com/newcars?is_amp=1,GB-en,1,13.000000
13411,www.zipcar.co.uk/check-rates/london,GB-en,1,17.000000
13412,www.zoopla.co.uk/home-values/,GB-en,2,3.500000
13413,www.zuto.com/free-car-valuation/,GB-en,105,14.866667

# Sorting data

The results we had above, would've been a lot more helpful if they were sorted. We want to see the URLs that rank for the most keywords, not just a list of URLs in alphabetical order.

**What does it do?:** Sorts a dataframe by selecting columns, in the case below we're sorting from biggest to smallest.

In [52]:
df_group.sort_values(['Keyword'], ascending=False)

,"Ranking URL on Sep 1, 2017",Market,Keyword,Rank
7163,www.google.co.uk/,GB-en,812,4.735222
5595,www.confused.com/car-valuation,GB-en,568,2.228873
3018,www.autotrader.co.uk/car-valuation,GB-en,425,2.082353
10030,www.parkers.co.uk/car-valuation/,GB-en,412,4.368932
13091,www.whatcar.com/valuations/,GB-en,402,4.407960
11095,www.raccars.co.uk/value-my-car,GB-en,399,6.210526
7124,www.glass.co.uk/,GB-en,385,9.379221
12779,www.webuyanycar.com/car-valuation/,GB-en,360,7.788889
921,hpivaluations.com/,GB-en,319,7.401254
8632,www.lookers.co.uk/valuations/,GB-en,276,13.757246
12703,www.vcars.co.uk/used-cars/valuation.php,GB-en,232,8.719828
2750,www.autoexpress.co.uk/car-news/94359/car-valua...,GB-en,206,14.194175
8964,www.motoring.co.uk/free-car-valuation,GB-en,200,12.010000
5969,www.driving.co.uk/car-valuations/,GB-en,165,14.872727
8341,www.kbb.com/whats-my-car-worth/,GB-en,150,12.386667
7857,www.honestjohn.co.uk/used-prices/,GB-en,143,11.937063
6494,www.evanshalshaw.com/sell-your-car/valuation/,GB-en,129,14.139535
8220,www.jct600.co.uk/valuation/,GB-en,121,14.537190
13413,www.zuto.com/free-car-valuation/,GB-en,105,14.866667
4932,www.cars.com/sell/book-value/,GB-en,101,14.712871
11492,www.techadvisor.co.uk/how-to/internet/how-buy-...,GB-en,94,13.819149
11491,www.techadvisor.co.uk/how-to/internet/how-buy-...,GB-en,93,14.193548
12789,www.webuycarstoday.co.uk/free-car-valuation,GB-en,88,16.147727
8844,www.moneyadviceservice.org.uk/en/tools/car-cos...,GB-en,87,10.724138
12539,www.vauxhall.co.uk/offers-finance/value-my-car...,GB-en,87,15.022989
10032,www.parkers.co.uk/cars-for-sale/,GB-en,85,7.082353
3549,www.autoweb.co.uk/free-car-valuation,GB-en,83,15.216867
9063,www.motors.co.uk/,GB-en,81,5.296296
1399,m.vauxhall.co.uk/requestsandservices/value-my-...,GB-en,80,15.287500
8852,www.moneysavingexpert.com/car-finance/buying-u...,GB-en,77,6.870130
...,...,...,...,...
9469,www.nationwidevehiclecontracts.co.uk/Ford-focu...,GB-en,1,18.000000
9467,www.nationwidevehiclecontracts.co.uk/Fiat-500-...,GB-en,1,15.000000
9466,www.nationwidevehiclecontracts.co.uk/Citroen-B...,GB-en,1,19.000000
2832,www.autoexpress.co.uk/ford/tourneo/64241/ford-...,GB-en,1,16.000000
9464,www.nationwidevehiclecontracts.co.uk/BMW-m3-sa...,GB-en,1,7.000000
9463,www.nationwidevehiclecontracts.co.uk/BMW-X6-le...,GB-en,1,4.000000
5067,www.caruk.net/,GB-en,1,19.000000
5066,www.cartrade.com/sell-used-car,GB-en,1,18.000000
9480,www.nationwidevehiclecontracts.co.uk/bmw-1_ser...,GB-en,1,9.000000
2829,www.autoexpress.co.uk/ford/ranger/18588/ford-r...,GB-en,1,8.000000
9482,www.nationwidevehiclecontracts.co.uk/business-...,GB-en,1,13.000000
9483,www.nationwidevehiclecontracts.co.uk/guides/bu...,GB-en,1,10.000000
9502,www.networkq.co.uk/used-car-search/insignia/,GB-en,1,5.000000
6693,www.exchangeandmart.co.uk/used-cars-for-sale/c...,GB-en,1,19.000000
9500,www.networkq.co.uk/used-car-search/astra/,GB-en,1,8.000000
5076,www.carwale.com/m/bmw-cars/i8/,GB-en,1,16.000000
5074,www.carwale.com/m/astonmartin-cars/vanquish/,GB-en,1,20.000000
5073,www.carwale.com/lamborghini-cars/huracan/,GB-en,1,10.000000
9494,www.neneoverland.co.uk/,GB-en,1,20.000000
5071,www.carwale.com/comparecars/,GB-en,1,20.000000
9492,www.ncp.co.uk/find-a-car-park,GB-en,1,17.000000
9491,www.nc700-forum.com/forum/nc750-general-discus...,GB-en,1,14.000000
9490,www.nc700-forum.com/forum/nc750-general-discus...,GB-en,1,16.000000
5070,www.carwale.com/bmw-cars/i8/,GB-en,1,18.000000
9488,www.nba.com/video/2017/07/24/20170724-top-100-...,GB-en,1,15.000000
9487,www.nationwidevehiclecontracts.co.uk/hot-leasi...,GB-en,1,20.000000
9486,www.nationwidevehiclecontracts.co.uk/guides/pe...,GB-en,1,13.000000
9485,www.nationwidevehiclecontracts.co.uk/guides/pe...,GB-en,1,10.000000
9484,www.nationwidevehiclecontracts.co.uk/guides/ne...,GB-en,1,18.000000
5788,www.desperateseller.co.uk/cheap-cars/bmw,GB-en,1,15.000000

# Displaying more data

So as you've probably noticed above, the results are truncated in the middle. (Look for the row which contains ... in the above cell.)

Jupyter notebook does this to avoid printing out everything to your screen. In the case that you do need more columns, rows or wider columns you can set them with the settings below:

In [ ]:
pd.options.display.max_rows = 60
pd.options.display.max_columns = 20
pd.options.display.max_colwidth = 50

# Joining together multiple datasets

What if you have more than one dataset and need to join them together? This is a pretty common scenario that we'll now cover.

There are two possible ways we might need to join:
1. Joining together two CSVs with the same columns, because our data is split across multiple files
2. Joining together a new dataset with our dataset based on matching values (the kind of thing you'd use vlookup or index match for in Excel.

## 1. Joining together CSV's with the same columns.

For this we've created a fake second dataset that we're going to load and join on the bottom of ours.

In [53]:
df2 = pd.read_csv("Example Car SERPs - Small Second Set.csv")

First we prepare our data by putting all of our dataframes into a list (which is what the square brackets [] are doing).

In [54]:
list_of_df = [df, df2]

**What does this do?:** This function takes a list of dataframes and stacks them one on top of the other.

In [55]:
both_dfs = pd.concat(list_of_df)

We can see how they've been put on top of each other by looking at the size of each individually and the two together.

In [56]:
print(df.shape)
print(df2.shape)
print(both_dfs.shape)

(39600, 18)
(20, 13)
(39620, 18)

## 2. Joining together data based on matching values

So previously we've made a poor search visibility metric by multiplying search volume by rank. Now we can make a better search visibility metric by adding in some CTR rate estimates.

We start by loading in our CTR dataset and take a quick look at it.

In [57]:
ctr = pd.read_csv("ctr_graph.csv")

In [58]:
ctr.head(5)

   Rank   Device    CTR
0     1  desktop  27.09
1     2  desktop  12.61
2     3  desktop   8.42
3     4  desktop   5.48
4     5  desktop   3.84

Now we need to join CTR with our ranking data. That means we need to match the correct CTR based on both Device and Rank.

**What does this do?:** The following function takes two datasets and joins them together. Joining data actualy requires you specify a fair few things, so it's worth explaining the different common options here. (Remember shift+tab inside pd.merge will show the documentation!)

The first two things we've put in `merge` are always are the two dataframes we want to join. 

Then we need to say how they want to join. Left join, means we'll take all the rows from the first df and only the rows from the second df where a match exists.

Finally we need to say what are we joining on. In this case we're selecting the correct value from the CTR where both rank and device match.

In [387]:
df_with_ctr = pd.merge(df, ctr, how="left", on=["Rank", "Device"])

In [390]:
df_with_ctr.head(2)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,CTR
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,27.09
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,12.61

Now we just need to generate the correct search visibility, which we can do using the same method we had above.

In [394]:
df_with_ctr['search_visibility'] = df_with_ctr['Regional Monthly Search Volume']*df_with_ctr['CTR']

## Optional - extra information on join types

Join types are best explained with venn diagrams, following screenshot is taken from [this article](http://www.sql-join.com/sql-join-types/), although its for SQL I highly recommend reading the whole thing.

![title](join_types_diagram_specific.png)

# Working with URLs

A quick interlude. This isn't technically a part of basic data manipulation, but I've found I'll end up doing this so much, that it's worth including it in here. 

Typically the usecase is we'll want to take a URL and extract the individual components from it (path, request, protocol, domain etc. etc.)

So let's do that! 

**Warning:** Here we're unavoidably going to see some more complexity. Hopefully you should be able to follow it conceptually, even if the actuall ins and outs of the functions get a little complicated.

This is moving a bit beyond basic manipulation here, we'll be using the output from these cells later so even if you don't follow it make sure to run them!

Onwards. We're going to need a new library to help us with this, so let's load that first.

In [229]:
from urllib.parse import urlparse

This part is a little more complicated. We're going to write a custom function and apply it row by row. This is the same method we used above in the bonus section. But it should be nice and copy and pastable for when you need it :)

In [236]:
def get_url_parts(url):
    ''' Takes a URL and returns a tuple of the decomposed URL
    
    Returns: Tuple of: protocol, hostname, path, query and fragment.
    '''
    parsed_url = urlparse(url)
    # Skip params here and return query string as a whole. Params require different analysis
    # We're returning as tuple, because of how we're going to attach to the dataframe.
    ordered_values = tuple(value for key,value in parsed_url._asdict().items() if key != "params")
    
    return ordered_values

Due to how we're adding the columns, we need to name the columns we're about to add:

In [237]:
columns = [
    'protocol',
    'hostname',
    'path',
    'query',
    'fragment'
]

Then STAT has inconviently split procotol and URL into separate columns, which will break our function so we need to join them togther.

In [275]:
df['Ranking Full URL on Sep  1, 2017'] = df['Protocol for Sep  1, 2017'] + "://" + df['Ranking URL on Sep  1, 2017']

At this point before we're good to go, we do a little data manipulation. First our row might have empty cells in. Pandas by default treats empty cells as numbers (floats to be specific). This is going to cause us some issues when we're working with strings, so we want to convert our empty cells explicitly to empty strings.

In [240]:
df['Ranking Full URL on Sep  1, 2017'] = df['Ranking Full URL on Sep  1, 2017'].fillna('')

Finally our data is ready to go and we can create the new columns.

**What does this do:** It takes a function which returns multiple values, applies it to a column and then adds the resulting columns (named in columns), to our dataframe.

In [241]:
temp = list(zip(*df['Ranking Full URL on Sep  1, 2017'].map(get_url_parts)))
for i, c in enumerate(columns): 
    df[c] = temp[i]

Look at our shiny new columns!

In [242]:
df.head(2)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,"Ranking Full URL on Sep 1, 2017",protocol,hostname,path,query,fragment
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,http://www.autoexpress.co.uk/best-cars/98556/t...,http,www.autoexpress.co.uk,/best-cars/98556/the-best-new-0-finance-car-deals,,
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...,https://www.carwow.co.uk/best/cars-for-sale-wi...,https,www.carwow.co.uk,/best/cars-for-sale-with-0-per-cent-finance,,

# Moving from wide data to stacked data

Let's take a quick look at our STAT data.

In [274]:
df.head(1)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags,"Ranking Full URL on Sep 1, 2017",protocol,hostname,path,query,fragment
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...,http://www.autoexpress.co.uk/best-cars/98556/t...,http,www.autoexpress.co.uk,/best-cars/98556/the-best-new-0-finance-car-deals,,

As you've probably noticed at this point, there are two columns for the different dates. This is great for comparing two individual days, because they're side by side, however often we want the data in stacked format.

That means that each date is a row and in this case that would give us a unified set of columns names. 

This is particularly useful if we then want to analysis over periods such as week by week for example. To prepare for that let's try to alter out STAT data so it fits that format. This will let us show off one particularly useful pandas function.

First however we need to do some data prep. As mentioned above STAT has inconviently split procotol and URL into separate columns, which will break our function so we need to join them togther.

In [331]:
df['Ranking Full URL on Sep  1, 2017'] = df['Protocol for Sep  1, 2017'] + "://" + df['Ranking URL on Sep  1, 2017']
df['Ranking Full URL on Jan  1, 2017'] = df['Protocol for Jan  1, 2017'] + "://" + df['Ranking URL on Jan  1, 2017']

## Temporary aside: Re-naming columns

The function we're about to use, will also turn the column headers into row values, so we need to set the column headers so they're just the dates.

In [332]:
df.rename(columns={
    'Ranking Full URL on Sep  1, 2017':'2017-09-01', 
    'Ranking Full URL on Jan  1, 2017':'2017-01-01'
}, inplace=True)

**What does this do?:** This amazing function turns columns into rows. Anything in id_vars will stay fixed, any columns in value_vars will be the columns used for stacking.

In our example below, we're turning our two ranking URL columns into stacked data and preserving anything else interesting.

In [333]:
df_melt = pd.melt(df, 
        id_vars=['Keyword',
                 'Market',
                 'Location',
                 'Device', 
                 'Regional Monthly Search Volume',
                 'Rank',
                 'Result Types for Jan  1, 2017',
                 'Result Types for Sep  1, 2017'
                ], 
        value_vars=[
                    '2017-01-01', 
                    '2017-09-01'
                   ],
        var_name="Date",
        value_name="url")

Let's take a look at what we've done:

In [334]:
df_melt

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Result Types for Sep 1, 2017",Date,url
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,answers / list,2017-01-01,NaN
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,organic,2017-01-01,NaN
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,NaN,organic,2017-01-01,NaN
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,NaN,organic,2017-01-01,NaN
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,NaN,organic,2017-01-01,NaN
5,0 apr car deals,GB-en,NaN,desktop,1900.0,6,NaN,organic,2017-01-01,NaN
6,0 apr car deals,GB-en,NaN,desktop,1900.0,7,NaN,organic,2017-01-01,NaN
7,0 apr car deals,GB-en,NaN,desktop,1900.0,8,NaN,organic,2017-01-01,NaN
8,0 apr car deals,GB-en,NaN,desktop,1900.0,9,NaN,organic,2017-01-01,NaN
9,0 apr car deals,GB-en,NaN,desktop,1900.0,10,NaN,organic,2017-01-01,NaN
10,0 apr car deals,GB-en,NaN,desktop,1900.0,11,NaN,organic,2017-01-01,NaN
11,0 apr car deals,GB-en,NaN,desktop,1900.0,12,NaN,organic,2017-01-01,NaN
12,0 apr car deals,GB-en,NaN,desktop,1900.0,13,NaN,organic,2017-01-01,NaN
13,0 apr car deals,GB-en,NaN,desktop,1900.0,14,NaN,organic,2017-01-01,NaN
14,0 apr car deals,GB-en,NaN,desktop,1900.0,15,NaN,organic,2017-01-01,NaN
15,0 apr car deals,GB-en,NaN,desktop,1900.0,16,NaN,organic,2017-01-01,NaN
16,0 apr car deals,GB-en,NaN,desktop,1900.0,17,NaN,organic,2017-01-01,NaN
17,0 apr car deals,GB-en,NaN,desktop,1900.0,18,NaN,organic,2017-01-01,NaN
18,0 apr car deals,GB-en,NaN,desktop,1900.0,19,NaN,organic,2017-01-01,NaN
19,0 apr car deals,GB-en,NaN,desktop,1900.0,20,NaN,organic,2017-01-01,NaN
20,0 car finance deals,GB-en,NaN,desktop,4400.0,1,NaN,answers / list,2017-01-01,NaN
21,0 car finance deals,GB-en,NaN,desktop,4400.0,2,NaN,organic,2017-01-01,NaN
22,0 car finance deals,GB-en,NaN,desktop,4400.0,3,NaN,organic,2017-01-01,NaN
23,0 car finance deals,GB-en,NaN,desktop,4400.0,4,NaN,organic,2017-01-01,NaN
24,0 car finance deals,GB-en,NaN,desktop,4400.0,5,NaN,organic,2017-01-01,NaN
25,0 car finance deals,GB-en,NaN,desktop,4400.0,6,NaN,organic,2017-01-01,NaN
26,0 car finance deals,GB-en,NaN,desktop,4400.0,7,NaN,organic,2017-01-01,NaN
27,0 car finance deals,GB-en,NaN,desktop,4400.0,8,NaN,organic,2017-01-01,NaN
28,0 car finance deals,GB-en,NaN,desktop,4400.0,9,NaN,organic,2017-01-01,NaN
29,0 car finance deals,GB-en,NaN,desktop,4400.0,10,NaN,organic,2017-01-01,NaN
...,...,...,...,...,...,...,...,...,...,...
79170,market value of car,GB-en,NaN,desktop,1300.0,11,organic,organic,2017-09-01,https://www.cargurus.co.uk/Cars/instantMarketV...
79171,market value of car,GB-en,NaN,desktop,1300.0,12,organic,organic,2017-09-01,https://www.vcars.co.uk/used-cars/valuation.php
79172,market value of car,GB-en,NaN,desktop,1300.0,13,organic,organic,2017-09-01,http://www.financial-ombudsman.org.uk/publicat...
79173,market value of car,GB-en,NaN,desktop,1300.0,14,organic,organic,2017-09-01,http://www.financial-ombudsman.org.uk/publicat...
79174,market value of car,GB-en,NaN,desktop,1300.0,15,organic,organic,2017-09-01,http://www.gocompare.com/car-insurance/vehicle...
79175,market value of car,GB-en,NaN,desktop,1300.0,16,organic,organic,2017-09-01,http://www.buyacar.co.uk/cars/used-cars/474/fi...
79176,market value of car,GB-en,NaN,desktop,1300.0,17,organic,organic,2017-09-01,https://www.accountingweb.co.uk/any-answers/ma...
79177,market value of car,GB-en,NaN,desktop,1300.0,18,organic,organic,2017-09-01,https://www.accountingweb.co.uk/any-answers/ho...
79178,market value of car,GB-en,NaN,desktop,1300.0,19,organic,organic,2017-09-01,https://www.redbook.com.au/
79179,market value of car,GB-en,NaN,desktop,1300.0,20,organic,organic,2017-09-01,https://www.jct600.co.uk/valuation/
79180,market value of car,GB-en,NaN,smartphone,1300.0,1,organic,answers / paragraph,2017-09-01,https://www.confused.com/car-valuation
79181,market value of car,GB-en,NaN,smartphone,1300.0,2,organic,organic,2017-09-01,https://www.confused.com/car-valuation
79182,market value of car,GB-en,NaN,smartphone,1300.0,3,organic,organic,2017-09-01,https://www.autotrader.co.uk/car-valuation
79183,market value of car,GB-en,NaN,smartphone,1300.0,4,organic,organic,2017-09-01,https://www.whatcar.com/valuations/
79184,market value of car,GB-en,NaN,smartphone,1300.0,5,organic,organic,2017-09-01,http://www.parkers.co.uk/car-valuation/
79185,market value of car,GB-en,NaN,smartphone,1300.0,6,organic,organic,2017-09-01,http://www.raccars.co.uk/value-my-car
79186,market value of car,GB-en,NaN,smartphone,1300.0,7,organic,organic,2017-09-01,https://hpivaluations.com/
79187,market value of car,GB-en,NaN,smartphone,1300.0,8,organic,organic,2017-09-01,https://www.webuyanycar.com/car-valuation/
79188,market value of car,GB-en,NaN,smartphone,1300.0,9,organic,organic,2017-09-01,http://www.glass.co.uk/
79189,market value of car,GB-en,NaN,smartphone,1300.0,10,organic,organic,2017-09-01,https://www.motoring.co.uk/free-car-valuation
79190,market value of car,GB-en,NaN,smartphone,1300.0,11,organic,organic,2017-09-01,https://www.cargurus.co.uk/Cars/instantMarketV...
79191,market value of car,GB-en,NaN,smartphone,1300.0,12,organic,organic,2017-09-01,https://www.mycarinfo.com.my/MarketValue
79192,market value of car,GB-en,NaN,smartphone,1300.0,13,organic,organic,2017-09-01,https://www.vcars.co.uk/used-cars/valuation.php
79193,market value of car,GB-en,NaN,smartphone,1300.0,14,organic,organic,2017-09-01,https://www.honestjohn.co.uk/used-prices/
79194,market value of car,GB-en,NaN,smartphone,1300.0,15,organic,organic,2017-09-01,https://www.racq.com.au/cars-and-driving/cars/...
79195,market value of car,GB-en,NaN,smartphone,1300.0,16,organic,organic,2017-09-01,https://www.accountingweb.co.uk/any-answers/ma...
79196,market value of car,GB-en,NaN,smartphone,1300.0,17,organic,organic,2017-09-01,http://www.financial-ombudsman.org.uk/publicat...
79197,market value of car,GB-en,NaN,smartphone,1300.0,18,organic,organic,2017-09-01,http://www.gocompare.com/car-insurance/vehicle...
79198,market value of car,GB-en,NaN,smartphone,1300.0,19,organic,organic,2017-09-01,https://www.jct600.co.uk/valuation/
79199,market value of car,GB-en,NaN,smartphone,1300.0,20,organic,organic,2017-09-01,https://m.redbook.com.au/

However we're still not quite there, unfortunately we can't melt both result types and ranking URL at the same time, as they'll both end up stacked and we want result type alongside ranking URL. So now we can use some of the techniques we learnt earlier to get to the correct format.

We're going to define a custom function and use to return a single column that will be correct.

In [339]:
def get_correct_result_type(row):
    if row['Date'] == "2017-01-01":
        return row['Result Types for Jan  1, 2017']
    else:
        return row['Result Types for Sep  1, 2017']

In [340]:
df_melt['result_type'] = df_melt.apply(lambda x: get_correct_result_type(x), axis=1)

## Temporary Aside: Deleting columns

Now we can drop the result types we're not going to use. 

**What does this do?:** It deletes the list of columns provided. If you set axis=0 then it will try to delete rows. We use inplace=True to delete rows from df_melt rather than return a new dataframe.

In [343]:
df_melt.drop(['Result Types for Jan  1, 2017', 'Result Types for Sep  1, 2017'], axis=1, inplace=True)

Now we can take a look at our new stacked data format!

In [344]:
df_melt

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,Date,url,result_type
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,2017-01-01,NaN,NaN
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,2017-01-01,NaN,NaN
2,0 apr car deals,GB-en,NaN,desktop,1900.0,3,2017-01-01,NaN,NaN
3,0 apr car deals,GB-en,NaN,desktop,1900.0,4,2017-01-01,NaN,NaN
4,0 apr car deals,GB-en,NaN,desktop,1900.0,5,2017-01-01,NaN,NaN
5,0 apr car deals,GB-en,NaN,desktop,1900.0,6,2017-01-01,NaN,NaN
6,0 apr car deals,GB-en,NaN,desktop,1900.0,7,2017-01-01,NaN,NaN
7,0 apr car deals,GB-en,NaN,desktop,1900.0,8,2017-01-01,NaN,NaN
8,0 apr car deals,GB-en,NaN,desktop,1900.0,9,2017-01-01,NaN,NaN
9,0 apr car deals,GB-en,NaN,desktop,1900.0,10,2017-01-01,NaN,NaN
10,0 apr car deals,GB-en,NaN,desktop,1900.0,11,2017-01-01,NaN,NaN
11,0 apr car deals,GB-en,NaN,desktop,1900.0,12,2017-01-01,NaN,NaN
12,0 apr car deals,GB-en,NaN,desktop,1900.0,13,2017-01-01,NaN,NaN
13,0 apr car deals,GB-en,NaN,desktop,1900.0,14,2017-01-01,NaN,NaN
14,0 apr car deals,GB-en,NaN,desktop,1900.0,15,2017-01-01,NaN,NaN
15,0 apr car deals,GB-en,NaN,desktop,1900.0,16,2017-01-01,NaN,NaN
16,0 apr car deals,GB-en,NaN,desktop,1900.0,17,2017-01-01,NaN,NaN
17,0 apr car deals,GB-en,NaN,desktop,1900.0,18,2017-01-01,NaN,NaN
18,0 apr car deals,GB-en,NaN,desktop,1900.0,19,2017-01-01,NaN,NaN
19,0 apr car deals,GB-en,NaN,desktop,1900.0,20,2017-01-01,NaN,NaN
20,0 car finance deals,GB-en,NaN,desktop,4400.0,1,2017-01-01,NaN,NaN
21,0 car finance deals,GB-en,NaN,desktop,4400.0,2,2017-01-01,NaN,NaN
22,0 car finance deals,GB-en,NaN,desktop,4400.0,3,2017-01-01,NaN,NaN
23,0 car finance deals,GB-en,NaN,desktop,4400.0,4,2017-01-01,NaN,NaN
24,0 car finance deals,GB-en,NaN,desktop,4400.0,5,2017-01-01,NaN,NaN
25,0 car finance deals,GB-en,NaN,desktop,4400.0,6,2017-01-01,NaN,NaN
26,0 car finance deals,GB-en,NaN,desktop,4400.0,7,2017-01-01,NaN,NaN
27,0 car finance deals,GB-en,NaN,desktop,4400.0,8,2017-01-01,NaN,NaN
28,0 car finance deals,GB-en,NaN,desktop,4400.0,9,2017-01-01,NaN,NaN
29,0 car finance deals,GB-en,NaN,desktop,4400.0,10,2017-01-01,NaN,NaN
...,...,...,...,...,...,...,...,...,...
79170,market value of car,GB-en,NaN,desktop,1300.0,11,2017-09-01,https://www.cargurus.co.uk/Cars/instantMarketV...,organic
79171,market value of car,GB-en,NaN,desktop,1300.0,12,2017-09-01,https://www.vcars.co.uk/used-cars/valuation.php,organic
79172,market value of car,GB-en,NaN,desktop,1300.0,13,2017-09-01,http://www.financial-ombudsman.org.uk/publicat...,organic
79173,market value of car,GB-en,NaN,desktop,1300.0,14,2017-09-01,http://www.financial-ombudsman.org.uk/publicat...,organic
79174,market value of car,GB-en,NaN,desktop,1300.0,15,2017-09-01,http://www.gocompare.com/car-insurance/vehicle...,organic
79175,market value of car,GB-en,NaN,desktop,1300.0,16,2017-09-01,http://www.buyacar.co.uk/cars/used-cars/474/fi...,organic
79176,market value of car,GB-en,NaN,desktop,1300.0,17,2017-09-01,https://www.accountingweb.co.uk/any-answers/ma...,organic
79177,market value of car,GB-en,NaN,desktop,1300.0,18,2017-09-01,https://www.accountingweb.co.uk/any-answers/ho...,organic
79178,market value of car,GB-en,NaN,desktop,1300.0,19,2017-09-01,https://www.redbook.com.au/,organic
79179,market value of car,GB-en,NaN,desktop,1300.0,20,2017-09-01,https://www.jct600.co.uk/valuation/,organic
79180,market value of car,GB-en,NaN,smartphone,1300.0,1,2017-09-01,https://www.confused.com/car-valuation,answers / paragraph
79181,market value of car,GB-en,NaN,smartphone,1300.0,2,2017-09-01,https://www.confused.com/car-valuation,organic
79182,market value of car,GB-en,NaN,smartphone,1300.0,3,2017-09-01,https://www.autotrader.co.uk/car-valuation,organic
79183,market value of car,GB-en,NaN,smartphone,1300.0,4,2017-09-01,https://www.whatcar.com/valuations/,organic
79184,market value of car,GB-en,NaN,smartphone,1300.0,5,2017-09-01,http://www.parkers.co.uk/car-valuation/,organic
79185,market value of car,GB-en,NaN,smartphone,1300.0,6,2017-09-01,http://www.raccars.co.uk/value-my-car,organic
79186,market value of car,GB-en,NaN,smartphone,1300.0,7,2017-09-01,https://hpivaluations.com/,organic
79187,market value of car,GB-en,NaN,smartphone,1300.0,8,2017-09-01,https://www.webuyanycar.com/car-valuation/,organic
79188,market value of car,GB-en,NaN,smartphone,1300.0,9,2017-09-01,http://www.glass.co.uk/,organic
79189,market value of car,GB-en,NaN,smartphone,1300.0,10,2017-09-01,https://www.motoring.co.uk/free-car-valuation,organic
79190,market value of car,GB-en,NaN,smartphone,1300.0,11,2017-09-01,https://www.cargurus.co.uk/Cars/instantMarketV...,organic
79191,market value of car,GB-en,NaN,smartphone,1300.0,12,2017-09-01,https://www.mycarinfo.com.my/MarketValue,organic
79192,market value of car,GB-en,NaN,smartphone,1300.0,13,2017-09-01,https://www.vcars.co.uk/used-cars/valuation.php,organic
79193,market value of car,GB-en,NaN,smartphone,1300.0,14,2017-09-01,https://www.honestjohn.co.uk/used-prices/,organic
79194,market value of car,GB-en,NaN,smartphone,1300.0,15,2017-09-01,https://www.racq.com.au/cars-and-driving/cars/...,organic
79195,market value of car,GB-en,NaN,smartphone,1300.0,16,2017-09-01,https://www.accountingweb.co.uk/any-answers/ma...,organic
79196,market value of car,GB-en,NaN,smartphone,1300.0,17,2017-09-01,http://www.financial-ombudsman.org.uk/publicat...,organic
79197,market value of car,GB-en,NaN,smartphone,1300.0,18,2017-09-01,http://www.gocompare.com/car-insurance/vehicle...,organic
79198,market value of car,GB-en,NaN,smartphone,1300.0,19,2017-09-01,https://www.jct600.co.uk/valuation/,organic
79199,market value of car,GB-en,NaN,smartphone,1300.0,20,2017-09-01,https://m.redbook.com.au/,organic

TBED: 
- Need to expand on pivoting and melting and various use cases.
- profiling code
- progress bars